<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-style">
    <div class="container">
      <a class="navbar-brand" target="_blank" href="#">
        <img class="img-logo" src="../../../assets/images/logo-example.png" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link p-3" href="#"
              >Inicio <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link p-3" href="#about-us">Acerca de nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-3" href="#features">Características</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-3" href="#pricing">Suscripciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-3" href="#testimonial">Reseñas</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main>
  <section>
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a target="_blank" href="#"
            ><img
              src="../../../assets/images/Banner1.png"
              class="d-block w-100"
              alt="..."
          /></a>
        </div>
        <div class="carousel-item">
          <a target="_blank" href="#"
            ><img
              src="../../../assets/images/Banner2.jpg"
              class="d-block w-100"
              alt="..."
          /></a>
        </div>
        <div class="carousel-item">
          <a target="_blank" href="#"
            ><img
              src="../../../assets/images/Banner3.jpg"
              class="d-block w-100"
              alt="..."
          /></a>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleControls"
        role="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleControls"
        role="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>
  <section id="about-us" class="py-5">
    <div class="container">
      <div class="text-center py-4">
        <h1>Noticias</h1>
      </div>
      <div class="row">
        <div class="col-md-3">
          <a target="_blank" href="#">
            <img
              src="../../../assets/images/img-250.jpg"
              class="d-block img-fluid"
              alt="..."
            />
          </a>
        </div>
        <div class="col-md-9">
          <p class="lead text-muted">
            Lorem ipsum, or lipsum as it is sometimes known, is dummy text used
            in laying out print, graphic or web designs. The passage is
            attributed to an unknown typesetter in the 15th century who is
            thought to have scrambled parts of Cicero's De Finibus Bonorum et
            Malorum for use in a type specimen book. It usually begins. Lorem
            ipsum, or lipsum as it is sometimes known, is dummy text used in
            laying out print, graphic or web designs. The passage is attributed
            to an unknown typesetter in the 15th century.
          </p>
          <p>
            <a href="#" class="btn btn-primary my-2 me-2">Ver más</a>
            <a href="#" class="btn btn-secondary my-2">Contáctanos</a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="features" class="py-5 bg-light">
    <div class="container">
      <div class="text-center py-4">
        <h1>Características de nuestros productos</h1>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 mb-2">
          <div class="box-part text-center">
            <i
              class="text-primary fas fa-heart fa-3x mb-3"
              aria-hidden="true"
            ></i>
            <div class="title">
              <h4>Diseño Premium</h4>
            </div>
            <div class="text mb-3">
              <span
                >Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum
                decore te sed. Elitr scripta ocurreret qui ad.</span
              >
            </div>
            <a class="btn btn-outline-primary" href="#">Saber más</a>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 mb-2">
          <div class="box-part text-center">
            <i
              class="text-success fas fa-laptop fa-3x mb-3"
              aria-hidden="true"
            ></i>
            <div class="title">
              <h4>Diseño Responsive</h4>
            </div>
            <div class="text mb-3">
              <span
                >Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum
                decore te sed. Elitr scripta ocurreret qui ad.</span
              >
            </div>
            <a class="btn btn-outline-success" href="#">Saber más</a>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 mb-2">
          <div class="box-part text-center">
            <i
              class="text-danger fas fa-box-open fa-3x mb-3"
              aria-hidden="true"
            ></i>
            <div class="title">
              <h4>Fácil de administrar</h4>
            </div>
            <div class="text mb-3">
              <span
                >Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum
                decore te sed. Elitr scripta ocurreret qui ad.</span
              >
            </div>
            <a class="btn btn-outline-danger" href="#">Saber más</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="pricing" class="py-5">
    <div class="container">
      <div class="row text-center">
        <div class="py-4">
          <h1>Suscripciones</h1>
        </div>

        <div class="col-sm-4 mb-2">
          <div class="card shadow-sm">
            <div class="card-header bg-light bronze-class">
              <h4 class="my-0 font-weight-normal text-color">Free</h4>
            </div>
            <div class="card-body bg-light bronze-class">
              <h1 class="card-title pricing-card-title text-color">
                $0 <small class="text-color">/ mo</small>
              </h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li class="text-color">5 usuarios incluidos</li>
                <li class="text-color">2 GB de almacenamiento</li>
                <li class="text-color">Soporte de correo electrónico</li>
                <li class="text-color">Acceso al centro de ayuda</li>
              </ul>
              <button type="button" class="btn btn-block btn-outline-dark">
                Empezar
              </button>
            </div>
          </div>
        </div>
        <div class="col-sm-4 mb-2">
          <div class="card shadow-sm">
            <div class="card-header bg-info text-light silver-class">
              <h4 class="my-0 font-weight-normal text-color">Pro</h4>
            </div>
            <div class="card-body bg-info text-light silver-class">
              <h1 class="card-title pricing-card-title text-color">
                $15 <small class="text-color">/ mo</small>
              </h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li class="text-color">20 usuarios incluidos</li>
                <li class="text-color">10 GB de almacenamiento</li>
                <li class="text-color">
                  Soporte de correo electrónico prioritario
                </li>
                <li class="text-color">Acceso al centro de ayuda</li>
              </ul>
              <button type="button" class="btn btn-block btn-outline-dark">
                Empezar
              </button>
            </div>
          </div>
        </div>
        <div class="col-sm-4 mb-2">
          <div class="card shadow-sm">
            <div class="card-header bg-success text-light gold-class">
              <h4 class="my-0 font-weight-normal text-color">Enterprise</h4>
            </div>
            <div class="card-body bg-success text-light gold-class">
              <h1 class="card-title pricing-card-title text-color">
                $29 <small class="text-color">/ mo</small>
              </h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li class="text-color">30 usuarios incluidos</li>
                <li class="text-color">15 GB de almacenamiento</li>
                <li class="text-color">
                  Soporte telefónico y por correo electrónico
                </li>
                <li class="text-color">Acceso al centro de ayuda</li>
              </ul>
              <button type="button" class="btn btn-block btn-outline-dark">
                Empezar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="testimonial" class="py-5 bg-light">
    <div class="container">
      <div class="text-center py-4">
        <h1>Reseñas</h1>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <a href="#">
              <img
                class="img-fluid"
                src="../../../assets/images/web-img-1.jfif"
                alt=""
              />
            </a>
            <div class="card-body">
              <div class="stars d-inline">
                <span class="fas fa-star text-warning"></span>
                <span class="fas fa-star text-warning"></span>
                <span class="fas fa-star text-warning"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
              </div>
              <p class="card-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque
                necessitatibus nesciunt recusandae voluptatum officia cum
                expedita quod aperiam ipsa id molestiae, aliquid labore modi
                commodi molestias nulla perspiciatis quidem facilis.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">By Sheetuwang</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <a href="#">
              <img
                class="img-fluid"
                src="../../../assets/images/web-img-2.jfif"
                alt=""
              />
            </a>
            <div class="card-body">
              <div class="stars d-inline">
                <span class="fas fa-star text-warning"></span>
                <span class="fas fa-star text-warning"></span>
                <span class="fas fa-star text-warning"></span>
                <span class="fas fa-star text-warning"></span>
                <span class="fas fa-star"></span>
              </div>
              <p class="card-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque
                necessitatibus nesciunt recusandae voluptatum officia cum
                expedita quod aperiam ipsa id molestiae, aliquid labore modi
                commodi molestias nulla perspiciatis quidem facilis.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">By Twitter</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <a href="#">
              <img
                class="img-fluid"
                src="../../../assets/images/web-img-3.jfif"
                alt=""
              />
            </a>
            <div class="card-body">
              <div class="stars d-inline">
                <span class="fas fa-star text-warning"></span>
                <span class="fas fa-star text-warning"></span>
                <span class="fas fa-star text-warning"></span>
                <span class="fas fa-star text-warning"></span>
                <span class="fas fa-star"></span>
              </div>
              <p class="card-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque
                necessitatibus nesciunt recusandae voluptatum officia cum
                expedita quod aperiam ipsa id molestiae, aliquid labore modi
                commodi molestias nulla perspiciatis quidem facilis.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">By Traveler</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<footer class="pt-4 pt-md-5 border-top">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md logo-foot">
        <a href="#">
          <img
            class="img-logo-2"
            src="../../../assets/images/logo-example.png"
          />
        </a>
      </div>
      <div class="col-6 col-md">
        <h5>Características</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#"> Cosas interesantes</a></li>
          <li><a class="text-muted" href="#"> Característica aleatoria</a></li>
          <li><a class="text-muted" href="#">Característica de equipo</a></li>
          <li><a class="text-muted" href="#">Cosas para desarrolladores</a></li>
          <li><a class="text-muted" href="#"> Otros</a></li>
          <li><a class="text-muted" href="#">Lo ultimo</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Recursos</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Recurso</a></li>
          <li><a class="text-muted" href="#">Nombre del recurso</a></li>
          <li><a class="text-muted" href="#">Otros recurso</a></li>
          <li><a class="text-muted" href="#"> Recursoa finales</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Acerca de</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#"> Equipo</a></li>
          <li><a class="text-muted" href="#">Ubicaciones</a></li>
          <li><a class="text-muted" href="#">Privacidad</a></li>
          <li><a class="text-muted" href="#">Términos y condiciones</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center py-4 bg-light mt-4">
    Copyright 2021 Julian Choque | Todos los derechos reservados &#9400;
  </div>
</footer>
